/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #5bba4f;
  height: 150px;
  border-top: 30px solid #2f6728;
  height: 150px;
  z-index: 99;
  padding: 0 10%; }

.main-container {
  padding-top: 200px;
  padding-left: 5%;
  position: relative;
  left: 30%;
  width: 60%;
  text-align: justify; }

div.footer-container {
  position: fixed;
  top: 180px;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: cyan; }

table {
  border: 0;
  margin: 5px auto;
  background-color: #5993d9;
  padding: 20px 10%;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }
  table tr {
    width: 100%;
    padding: 5px;
    height: 70px;
    margin: 5px; }
    table tr td {
      width: 30%;
      padding: 5px;
      margin: 5px;
      background-color: #ccc;
      -webkit-border-radius: 90px;
      -moz-border-radius: 90px;
      -ms-border-radius: 90px;
      border-radius: 90px;
      text-align: center;
      vertical-align: center;
      color: black; }
      table tr td:hover {
        background-color: gray; }

td.call {
  background-color: green; }

td.call:hover {
  background-color: #00cc00; }

td.cancel {
  background-color: red; }

td.cancel:hover {
  background-color: #ff4d4d; }

input.numberInput {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px; }
