table {
	border:0;
	margin:5px auto;
	background-color:lighten(hsl(213, 63%, 50%), 10%);
	padding:20px 10%;
	@include border-radius(20px);
	tr{
	width:100%;
	padding:5px;
	height:70px;
	margin:5px;
		td{
		width:30%;
		padding:5px;
		margin:5px;
		background-color:#ccc;
		@include border-radius(90px);
		text-align:center;
		vertical-align:center;
		color:black;
			&:hover{
				background-color:darken(#ccc, 30%);
			}
		}
	}
}

td.call{
background-color:green;
}
td.call:hover{
background-color:lighten(green, 15%);
}
	

td.cancel{
background-color:red;
}
td.cancel:hover{
background-color:lighten(red, 15%);
}

input.numberInput{
	@include border-radius(20px);
}


*{
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.button-3{
  text-align: center;
}

.button-3 li{
  display: inline-block;
  width: 200px;
  max-width: 200px;
  height:1em;
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:1%;
}
.last{
  clear: left;
}
.first{
  clear: right;
}
#numberDisplay input{
  height: 2em;
  text-align: center;
  background: rgba(0, 0, 255, 0.1);
  padding: .5em 0em;
  margin-top: 1em;
  margin-bottom: 1%;
  font-size: 2em;
  font-family: "Helvetica Neue";
  font-weight: 100;
  width: 100%;
  border: 0px;
}

#actions .call.ready{
  background: rgba(0, 255, 0, 0.2);
}
#actions .call.ready:hover{
  background: rgba(0, 255, 0, 0.4);
}
#actions .skip.ready{
  background: rgba(0, 255, 0, 0.2);
}
#actions .skip.ready:hover{
  background: rgba(0, 255, 0, 0.4);
}
#actions .clear.ready{
  background: rgba(255, 0, 0, 0.2);
}
#actions .clear.ready:hover{
  background: rgba(255, 0, 0, 0.4);
}
#actions .deactive{
  opacity: .2;
}

#dialpad,
#actions,
#numberDisplay{
  max-width: 610px;
  margin: 0 auto;
}
#dialpad.deactive{
  opacity: .2;
}
#dialpad.deactive li:hover,
#actions li.deactive:hover{
  background: #eee;
}
#dialpad li{
  font-weight: bold;
  background: #eee;
  width: 100%;
}
#dialpad li:hover{
  background: #ccc;
}
#actions li{
  background: #efefef;
  opacity: .8;
}
#actions li.call.active{
  background: rgba(0, 255, 0, 0.2);
}
#actions li.hangup{
  background: rgba(255, 125, 0, 0.2);
}
#actions li.hangup:hover{
  background: rgba(255, 125, 0, 0.4);
}
#actions li:hover{
  background: #ccc;
}
